<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zx.soft.snd.twitter.dao.TwitterDao">

	<insert id="insertStatusInfo" parameterType="StatusInfo">
		INSERT INTO
		twitterStatusInfos(createdAt,statusId,text,source,favoriteCount,address,countryCode,retweetCount,retweetedStatusId,userId)
		values(#{createdAt},#{statusId},#{text},#{source},#{favoriteCount},#{address},#{countryCode},#{retweetCount},#{retweetedStatusId},#{userId});
	</insert>

	<insert id="insertUserInfo" parameterType="UserInfo">
		INSERT INTO
		twitterUserInfos(userId,name,screenName,location,description,url,followersCount,friendsCount,createdAt,favouritesCount,listedCount,lastStatusId,statusesCount)
		values(#{userId},#{name},#{screenName},#{location},#{description},#{url},#{followersCount},#{friendsCount},#{createdAt},#{favouritesCount},#{listedCount},#{lastStatusId},#{statusesCount});
	</insert>

	<insert id="insertName" parameterType="String">
		insert into
		twitterUserName(name) values(#{name});
	</insert>

	<insert id="insertToken" parameterType="Token">
		insert into twitterTokens(tokenkey,tokensecret,sinceId)
		values(#{tokenkey},#{tokensecret},#{sinceId});
	</insert>

</mapper>