<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
<typeAlias type="zx.soft.snd.twitter.domain.StatusInfo" alias="StatusInfo"/>
<typeAlias type="zx.soft.snd.twitter.domain.UserInfo" alias="UserInfo"/>
<typeAlias type="zx.soft.snd.twitter.domain.Token" alias="Token"/>
</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://192.168.6.120:3306/sentimentsearch?useUnicode=true&amp;characterEncoding=utf-8" />
				<property name="username" value="xuwenjuan" />
				<property name="password" value="xuwenjuan" />
				<property name="driver.encoding" value="utf-8" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="Mapper.xml" />
	</mappers>
</configuration>