<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
<typeAlias type="zx.soft.gbxm.google.domain.StatusInfo" alias="StatusInfo"/>
<typeAlias type="zx.soft.gbxm.google.domain.UserInfo" alias="UserInfo"/>
<typeAlias type="zx.soft.gbxm.google.domain.GoogleToken" alias="GoogleToken"/>
</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://54.64.136.101:3306/gbxm?useUnicode=true&amp;characterEncoding=utf-8" />
				<property name="username" value="gbxm" />
				<property name="password" value="HrbfvA9VsuFzCySDESgXIg==" />
				<property name="driver.encoding" value="utf-8" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="Mapper.xml" />
	</mappers>
</configuration>