<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zx.soft.snd.twitter.dao.Dao">
<insert id="insertUserInfo"  parameterType="UserInfo">
  insert into users(id,name) values(#{id},#{name});
</insert>
</mapper>